<div class="color-back">


<div class="container">
    <div class="col-md-12 text-center pt-2 pb-5 head" *ngIf="currentQuestion != totalQuestions">Quiz Contest</div>
    <div *ngFor="let question of questions;let i=index">
        <div *ngIf="i == currentQuestion" >
            <div class="col-md-12 text-center question-subhead pb-3">
                {{question.ques}}
            </div>
            <mat-radio-group *ngFor="let options of question.ans" name="{{question.ques}}"
                (change)="handleChange(question.ques,i,options.key,options.options,question.correctAnswer,basicModal)">
                <div class="col-md-6">
                    <mat-radio-button [value]="options.key" class="pb-2 options">{{options.options}}</mat-radio-button>
                </div>
            </mat-radio-group>

        </div>

    </div>

    <div *ngIf="!scoresSelected">
        <div class="col-md-12 text-center chk-score" *ngIf="currentQuestion == totalQuestions ">
            <div class="row">
                <div class="col-md-12 text-center">
                    Thanks for completing the test.
                </div>
            </div>

            <button type="button" class="mt-5 chk-score-btn" mdbBtn color="primary" mdbWavesEffect (click)="checkScore()">Check Score</button>

        </div>
    </div>
    <div class="col-md-12 text-center corr-ans" *ngIf="scoresSelected">
        Correct Answers {{correctAnswers}}
    </div>
    <div class="col-md-12 text-center incorr-ans" *ngIf="scoresSelected">
        InCorrect Answers {{incorrectAnswers}}
    </div>
    <div class="col-md-12 text-center" *ngIf="scoresSelected">
        <div *ngIf="currentQuestion == totalQuestions">
            <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="tryAgain()">Try Again</button>
        </div>
    </div>


</div>


<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100 mod-title" id="myModalLabel">{{modalHeading}}</h4>
            </div>
            <div class="modal-body modal-class">
                {{modalSubheading}}
            </div>
            <div class="modal-footer">
                <div class="col-md-12 text-center">
                    <button type="button" mdbBtn color="primary" mdbWavesEffect
                        (click)="onNextQuestion();basicModal.hide()">next</button>
                </div>
            </div>
        </div>
    </div>
    </div>
