.color-back{
    background-color: lightcyan;
}
.head{
    color: blueviolet;
    font-size: 32px;
    font-weight: 900;
}

.question-subhead{
    color: lightslategray;
    font-size: 28px;
    font-weight: 900;
}

.options{
    color: lightslategray;
    font-size: 25px;
    font-weight: 900;

}

.chk-score{
    color: blueviolet;
    font-size: 32px;
    font-weight: 900;

}

.mod-title{
    color: blueviolet;
    font-size: 32px;
    font-weight: 900;
}

.modal-class{
    color: lightslategray;
    font-size: 28px;
    font-weight: 900;
}

.incorr-ans,.corr-ans{
    color: lightslategray;
    font-size: 28px;
    font-weight: 900;
}